.forms {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.tables {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.table {
    width:50%;
    margin-bottom:1rem;
    color:#212529;
}

.table__header {
    text-align: left;
}

.table tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.table1__row:hover {
    color:#212529;
    background-color:rgba(0,0,0,.075);
}

.table2__row:hover {
    color:#212529;
    background-color:rgba(0,0,0,.075);
}

.table2__row:nth-child(odd) {
    background-color: #e5e5e5;    
}

.table__cell {
    padding: 8px;
}
