.container {
    margin-top: 1%;
}
  
.forms {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tables {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

@media (max-width: 767px) {
    .tables {
        flex-direction: column;
    }
}

.table__number {
    flex: 0 1 300px;
}

.table__search {
    flex: 0 1 800px;
}

tbody tr:hover {
    /* color: #0080ff; */
    background-color: rgba(158, 157, 157, 0.511);
}

.search_row:nth-child(odd) {
    background-color: #e5e5e5;
}

th, td {
    padding: 8px;
}

/* table tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
}

thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */

.table_tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
}

thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em);
    border-bottom: 2px solid #212529;
}

td {
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.text {
    display:inline-block;
    vertical-align:middle;
}

.btn btn-primary {
    display:inline-block;
    vertical-align:middle;
}

.table1 {
    flex: 0 1 500px;
    vertical-align:middle;
}

.table2 {
    flex: 0 1 500px;
    vertical-align:middle;
}