<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet" />
        <title>flask-lto-app</title>
    </head>
    <body>
        <h1> flask-lto-app <h1>
        <form class="" action="/submit" method="post">
            <label for="">輸入數字組合(用空格隔開) : </label>
            <input type="text" name="number" value="">
            <button type="submit">Submit</button>
        </form>
        <p>
            {{data}}
        </p>
    </body>
</html>