{% extends 'base.html' %}

{% block content %}

    <h1>flask-lto-app</h1>
    <form class="" action="/submit" method="post">
        <p>
            <label for="">輸入數字組合(1~39)(用空格隔開)：</label>
            <input type="text" name="number" value="" required />
        </p>
        <p>
            <label for="">輸入期數範圍(預設全部範圍)：</label>
            <input type="number" name="period" value="" />
        </p>
        <p>
            <label for="">輸入該數字組合下幾期資料(預設1期)：</label>
            <input type="number" name="next" value="1" />
        </p>
        <button type="submit">Submit</button>
    </form>

{% endblock  %}